.app-chat{
    width: 300px;
    height: 23px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: #00adf2;
    color:#fff;
    border-radius: 0 0 0 5px;
    transition: none;
    overflow: hidden;
    opacity: 1;   
}
.app-chat-header>p{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.app-chat .form-group{
    width: 290px;
    margin: 0 5px;
}
.app-chat-msgs{
    width: 290px;
    height: 310px;
    margin: 0 auto;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.app-chat-box{
    display: flex;
    justify-content: space-around;
}
