.autifss{
    overflow: hidden    
}
.waiting::before{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: lightblue;
    opacity: .9;
    z-index: 1100;
    overflow: hidden;
}
.content-login{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1200;
    background-color:cornsilk;  
}
.content-login-box{
    position: relative;
    left:50%;
    top:50%;
    margin:-50px 0 0 -100px;
    display: flex;
    width: 210px;
}