*{
    transition: ease .5s;  
}
html,body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.right-wing{
    position: fixed;
    top: 0;
    right: 0;
    width: 5vw;
    height: 100%;
    background-color: #00adf2;
}
.right-wing::before, .right-wing::after{
    position: absolute;
    content:" ";
    width: 50%;
    height: 100%;
    background-color: #fff;
}
.right-wing::before{
    border-top-right-radius: 50vw; 
    border-right: 1px solid #00adf2;  
}
.right-wing::after{
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 50vw;
}
.app-mobile .right-wing{
    display: none;
}
.app-mobile .app-chat{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1100;
}
.app-mobile .app-chat .form-group{
    width: 100%;
    padding: 0 5px; 
    margin: 0;
}
.app-mobile .app-chat .form-group .app-chat-msgs{
    height: 40vw;
    width: 100%;
}