@import url('https://fonts.googleapis.com/css?family=Handlee|Josefin+Slab|Sedgwick+Ave+Display|Source+Code+Pro');

a{
    transition: ease .5s;  
}
*{
    
}
html,body{
    font-family: 'Sedgwick Ave Display', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.main-spinner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #fff;
    z-index: 1000;
}
.main-spinner div{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
}
.right-wing{
    position: absolute;
    top: 0;
    right: 0;
    width: 15vw;
    height: 170px;
    background-color: #fff;
}
.right-wing::before, .right-wing::after{
    position: absolute;
    content: " ";
    width: 59%;
    height: 100%;
    background-color: #00adf2;
}
.right-wing::before{
    border-top-right-radius: 50vw; 
    border-right: 1px solid #00adf2;    
}
.right-wing::after{
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 50vw;    
}
.left-wing{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 170px;
    background-color: #fff;
}
.left-wing::before, .left-wing::after{
    position: absolute;
    content: " ";
    width: 50%;
    height: 100%;
    background-color: #00adf2;
}
.left-wing::before{
    border-bottom-right-radius: 50vw; 
    border-right: 1px solid #00adf2;  
}
.left-wing::after{
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 50vw;
}
.left-wing>img{
    z-index: 900;
    position: absolute;
    right: -47px;
    bottom: -2px;
}
.app-mobile .foto img{
    display: block;
}
.app-mobile .left-wing,.app-mobile .right-wing ,.app-mobile .flash-man{
    display: none;
}
.app-mobile .content{
    margin: 0;
    padding: 0 15px;
}
.app-mobile .sidebar{
    background-color: #fff;
    padding: 20px 0 0 0 ;
}
.app-mobile footer{
    margin: 0;
}
.app-mobile .stack img{
    border:1 px solid #00adf2;
}
.app-mobile .app-chat{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1100;
}
.app-mobile .app-chat .form-group{
    width: 100%;
    padding: 0 5px; 
    margin: 0;
}
.app-mobile .app-chat .form-group .app-chat-msgs{
    height: 40vw;
    width: 100%;
}