.contact-us{
    background-color: #00adf2;
}
.contact-us-form{
    width: 350px;
    margin: 0 auto;
}
.contact-us-input{
    display: flex;
    justify-content: space-between;
}
.contact-us-input input{
    height: 32px;
    border:1px solid #fff;
    color: #00adf2;
    border-radius: 20px;
    margin: 5px 0;
    padding: 0 10px; 
    outline: none;
}
.contact-us-form textarea{
    width: 350px;
    border-radius: 20px;
    padding: 5px 10px;
}
.contact-us-form button{
    display: block;
    width: 50px;
    height: 22px;
    border:0;
    border-radius: 20px;
    background-color: #fff;
    color: #00adf2;
}