ul,li{
    margin: 0;
    padding: 0;
}
.app-chat{
    position: fixed;
    bottom: -300px;
    right: 0;
    width: 300px;
    height: 300px;
    background-color: #fff;
    color: #fff;
    border-radius: 15px 0 0 0;
    transition: ease 0.5s;
    opacity: 1;
    padding: 5px 0;
    border-top: 2px solid yellow;
    border-left: 2px solid yellow;
    z-index: 700;
}
.app-chat-close{
    position: absolute;
    top: -2px;
    left: -30px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    border: 2px solid yellow;
    border-radius: 15px;
    font-weight: 900;
    color:#00adf2;
    background-color: #fff;
    cursor: pointer;
}
.app-chat-header{
    display: none;
    /* height: 30px;
    display: flex;
    justify-content: space-between;
    margin: 6px 0 0 0;
    font-weight: 700; */
}
.app-chat-header a{
    color: #fff;
}
.header-autoriz>div>div{
    display:inline;
}
.header-input-name{
    background-color:#fff;
    color: black;
    margin-right: 5px;
}
.header-input-name>input{
    width: 80px;
    border: 0px solid lightslategray;
    border-radius: 3px;
}
.header-button{
    width: 60px;
    float: right;
    text-align: center;
    line-height: 25px;
}
.app-chat .form-group{
    width: 290px;
    margin: 0 5px;
}
.app-chat-msgs{
    position: relative;
    height: 260px;
    margin: 0 auto;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
}
.app-chat-msgs li{
    display: flex;
    justify-content: space-between;
    color: darkmagenta;
    text-align: justify;
}
.app-chat-box{
    display: flex;
    justify-content: space-around;
}
.app-chat-input{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 32px;
}
.app-chat-typing{
     display: none; 
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 0;
    left: 0px;
    z-index: 700;
    font-size: 11px;
    color:darkviolet;
    padding: 0 5px;
    border-radius: 4px;
}