@import url('https://fonts.googleapis.com/css?family=Handlee|Josefin+Slab|Sedgwick+Ave+Display|Source+Code+Pro');
a{
    transition: ease 1.5s;
}
.header{
    display: flex;
    padding: 20px 100px 0 100px ;
    background-color: #00adf2;
    font-family: 'Josefin Sans', sans-serif;
}
.header-title{
position: absolute;
    top: 5px;
    right: 15vw;
    color: #fff;
    font-family: cursive;
    font-size: 3vw;
    font-weight: 900;
    text-transform: uppercase;
}
.foto{
    z-index: 900;
    width: 195px;
    height: 150px;
}
.foto img{
    display: none;
}
.menu{
    transition: ease .5s; 
}
.menu .chat-mobile-button{
    display: none;
} 
.topMenu{
    display: flex;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    transition: ease .5s; 
    margin: 70px 0 0 0;
}
.topMenu >li{ 
    text-align: center;
}

.topMenu>li>a:hover,.topMenu>li>a:active{
    text-decoration: none;
}
.topMenu>li>a{
    display: inline-block;
    height: 32px;
    width: 140px;     
    padding: 3px 0;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-family: 'Handlee', cursive;
    text-decoration: none;
    transition: ease .5s; 
}
.topMenu>li>a:hover{
    cursor: pointer;
    background-color: #fff;
    color:#01aef3;
    transition: ease .5s; 
}
.topMenu>li>a:focus{
    text-decoration: none;
    background-color: #fff;
    color:#01aef3;
}
.menu .burger{
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 40px;
    z-index: 1000;
    cursor: pointer;
}
.tablet-mobile{
    display: flex;
    justify-content: space-between;
}
.tablet-mobile .topMenu{
    display: none;
}
.tablet-mobile .chat-mobile-button{
    display: block;
}
.tablet-mobile .chat-mobile-button img{
    width: 40px;
    height: 40px;
}
.tablet-mobile .burger{
    display: block;
}
.tablet-mobile .burger span{
    display: block;
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background-color:#fff;
}
.open::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blueviolet;
    opacity: 1;
    z-index: 1000;
    overflow: hidden;
}
.open .burger{
    position: fixed;
}
.open .burger>span{
    background-color: #fff;
}
.open .topMenu{
    position: fixed;
    width: 33%;
    left: 33%;
    display: block;
    z-index: 2000;
    line-height: 50px;
    margin: 0;
}
.open .topMenu>li>a{

    border:0;
}

