.header{
    display: flex;
    padding: 20px 0 0 0 ;

}
.foto{
    width: 150px;
    height: 150px;
    margin: 0 0 0 20px;
}
.menu{
    width: 100%;
}
.topMenu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    line-height: 150px;
    font-size: 26px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}
.topMenu>li>a{
    color: lightslategrey;
}
.topMenu>li>a:hover{
    cursor: pointer;
    text-decoration: none;
    color:#01aef3;
    transition: ease .3s
}
